<div class="container">
  <h1>
    <%= @cocktail.name %>
  </h1>
  <div class="photo-table">
    <div class='photo flex-id' style="
      background-image: url('<%= @cocktail.picture %>');
      width: 300px;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 10px;
      margin-right: 10px;
    ">
    </div>
    <div class='description flex-div'>
      <%= @cocktail.description %>
    </div>
    <div class='table flex-div'>
      <table class="table table-sm table-dark table-bordered th-dark table-striped">
        <thead>
          <tr>
            <th>
              name
            </th>
            <th>
              description
            </th>
            <th class='text-center'>
              delete
            </th>
          </tr>
        </thead>
        <tbody>
          <% @doses.each do |dose| %>
          <% @ingredient = Ingredient.find(dose.ingredient_id) %>
          <tr>
            <td>
              <%= @ingredient.name %>
            </td>
            <td>
              <%= dose.description %>
            </td>
            <td class='text-center'>
              <%= link_to icon('fas', 'trash-alt'), dose_path(dose), class: 'text-danger',
                method: :delete,
                data: { confirm: "Are you sure?", class: "fade" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'add an ingredient', new_cocktail_dose_path(@cocktail) %>
    </div>
  </div>
  <hr>
  <p>
    <%= link_to 'home', cocktails_path %>
  </p>
</div>
